{% extends '@Contao/block_unsearchable' %}

{% block content %}
    <button class="huh-pwa-install-button disabled{% if buttonCssClasses|default %} {{ buttonCssClasses }}{% endif %}">
        {% if linkTitle is defined and linkTitle is not empty %}
            {{ linkTitle }}
        {% else %}
            {{ 'huh.pwa.install_button'|trans() }}
        {% endif %}
    </button>
    <div class="huh-pwa-install-message hidden">
        {{ installNotSupportedMessage|default|raw }}
    </div>
{% endblock %}