{% extends '@Contao/block_unsearchable' %}

{% block content %}
    <button class="huh-pwa-install-button disabled{% if buttonClasses|default %} {{ buttonClasses }}{% endif %}"{{ cssID }}>{{ 'huh.pwa.install_button'|trans() }}</button>
{% endblock %}