services:
  _defaults:
    autowire:      true
    autoconfigure: true
    bind:
      $bundleConfig: '%huh_pwa%'
      $webDir: '%contao.web_dir%'

  _instanceof:
    Contao\CoreBundle\Framework\FrameworkAwareInterface:
      calls:
        - ["setFramework", ["@contao.framework"]]

  HeimrichHannot\PwaBundle\:
    resource: ../src
    exclude:
      - ../src/{Contao,ContaoManager,DependencyInjection,Event,Manifest,Model}

  # Generators

  huh.pwa.generator.serviceworker:
    class: HeimrichHannot\PwaBundle\Generator\ServiceWorkerGenerator
    public: true
    arguments:
      ['%contao.web_dir%', '@twig', '@logger']
  HeimrichHannot\PwaBundle\Generator\ServiceWorkerGenerator: "@huh.pwa.generator.serviceworker"

  huh.pwa.generator.configurationfile:
    class: HeimrichHannot\PwaBundle\Generator\ConfigurationFileGenerator
    public: true
    arguments:
      ['@router.default', '%contao.web_dir%', '%huh_pwa%', '@translator']
  HeimrichHannot\PwaBundle\Generator\ConfigurationFileGenerator: "@huh.pwa.generator.configurationfile"

  # Header Tags

  huh.head.tag.pwa.link_manifest:
    class: HeimrichHannot\PwaBundle\HeaderTag\ManifestLinkTag
    public: true
    arguments:
      ['@huh.head.tag_manager']
  HeimrichHannot\PwaBundle\HeaderTag\ManifestLinkTag: "@huh.head.tag.pwa.link_manifest"

  huh.head.tag.pwa.meta_themecolor:
    class: HeimrichHannot\PwaBundle\HeaderTag\ThemeColorMetaTag
    public: true
    arguments:
      ['@huh.head.tag_manager']
  HeimrichHannot\PwaBundle\HeaderTag\ThemeColorMetaTag: "@huh.head.tag.pwa.meta_themecolor"

  huh.head.tag.pwa.script:
    class: HeimrichHannot\PwaBundle\HeaderTag\PwaHeadScriptTags
    public: true
    arguments:
      ['@huh.head.tag_manager']
  HeimrichHannot\PwaBundle\HeaderTag\PwaHeadScriptTags: "@huh.head.tag.pwa.script"

# Sender

  huh.pwa.sender.pushnotification:
    class: HeimrichHannot\PwaBundle\Sender\PushNotificationSender
    autowire: true
    public: true
  HeimrichHannot\PwaBundle\Sender\PushNotificationSender: '@huh.pwa.sender.pushnotification'
