{% set button_attrs = attrs()
    .addClass(['huhPwaWebSubscription'])
    .set('disabled', 'disabled')
    .mergeWith(button_attrs|default) %}

{% set button_label = button_label|default('huh.pwa.pushnotifications.wait'|trans) %}

<button{{ button_attrs }}>
    {% block button_content %}
        <span class="label">{{ button_label }}</span>
    {% endblock %}
</button>
